.row{   

    background-color:black;
    color:white;
    
    font-size:20px;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}

.row mid {
    display: flex;
    justify-content: center;
}

.test {
    display: flex;
    justify-content: center;
}
.hello {
    display:flex;
    justify-content: space-around;
}
#hi {
    background-color:#b3cde0;
}
#hello{
 display: flex;
justify-content:flex-end;
width:100px;
}
#space {
    font-family: Questa Grande;
}

#hu {
    display:flex;
    justify-content: center;
}
#oh{
    color:blue;
}




